@model MiniMercado.Models.Factura

@{
    ViewData["Title"] = "Detalle de Factura";
    Layout = null;
}

<h1>Factura N° @Model.IdFactura</h1>
<p><strong>Fecha:</strong> @Model.Fecha</p>
<p><strong>Forma de Pago:</strong> @Model.FormaPago</p>

<hr />

<h2>Productos vendidos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var det in Model.DetalleFacturas)
    {
        <tr>
            <td>@det.IdProductoNavigation.IdProducto</td>
            <td>@det.IdProductoNavigation.Nombre</td>
            <td>@det.Cantidad</td>
            <td>$@det.PrecioUnitario</td>
            <td>
                $@( (det.PrecioUnitario * det.Cantidad) )
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-end">TOTAL:</th>
            <th>$@Model.Total</th>
        </tr>
    </tfoot>
</table>

<p>
    <a asp-action="Index" asp-controller="CierreCajaScreen" class="btn btn-secondary">Volver al listado</a>
</p>
