@model IEnumerable<MiniMercado.Models.Producto>

@{
    ViewData["Title"] = "Iniciar Venta";
    Layout = "~/Views/Shared/_VentaScreenLayout.cshtml";
}

<div class="container mt-5">
    <div class="container-chad">
        <div class="table-container" style="max-height:50rem; overflow-y: auto;">
        <div class="titulo-tabla">
            <a class="btn btn-sm btn-warning" id="precio-manual">Precio Manual</a>
            <div class="input-group mb-4">
                <input type="text" id="busquedaProductos" class="form-control rounded-pill text-center" placeholder="Toque para buscar productos...">
            </div>
        </div>

            <div class="tabla-wrapper">
                <table class="table table-striped table-hover table-bordered" id="productTable">

                    <thead class="table-white">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Precio Unitario</th>
                            <th>Proveedor</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string nombre = item.Nombre.Length > 25 ? item.Nombre.Substring(0, 22) + "..." : item.Nombre;
                        <tr class="fila-producto">
                            <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                            <td>@nombre</td>
                            <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                            <td>@item.ProveedorNavigation?.Nombre</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>                

        </div>
        
        <div id="carrito-ventas-container">
            <h2>Carrito de Compras</h2>
            
            <div class="tabla-wrapper-ventas">
                <table class="table table-striped table-hover table-bordered" id="carritoTable">
                    <thead class="table-white">
                        <tr>
                            <th>Cantidad</th>
                            <th>Item</th>
                            <th>Unidad</th>
                            <th id="columna-total">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var cantidad = 5;
                            string nombre = item.Nombre.Length > 20 ? item.Nombre.Substring(0, 17) + "..." : item.Nombre;

                            <tr class="fila-producto">
                                <td>@cantidad</td>
                                <td>@nombre</td>
                                <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                                <td>@(item.PrecioUnitario * cantidad)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr class="dashed">
            <div class="sub-total">
                <div class="sub-total-txt">
                    <h2>Total: $220.000</h2>
                    <div class="vaciar-btn">
                        <p id="vaciar-txt">vaciar</p>
                    </div>
                </div>
                <div class="venta-btn">
                    <h2>Finalizar compra</h2>
                </div>
            </div>
        </div>

    </div>
</div>




