@model MiniMercado.Models.Producto

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h1>Borrar producto</h1>

<h3>Estas seguro/a de que quieres borrar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dd class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoDeBarra)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoDeBarra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            Proveedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProveedorNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="DeleteParcial">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        @if (ViewData["Origen"]?.ToString() == "preciomanual")
    {
        <a asp-action="PrecioManual" asp-controller="StockScreen">Volver a la lista de productos</a>
    }
    else
    {
        <a asp-action="Index" asp-controller="StockScreen">Volver a la lista de productos</a>
    }

    </form>
</div>